  .selected-order-row {
    background-color: rgb(70, 239, 14);
    color: white !important;
  }

  .order-row {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    background-color: white !important;
    color: #212529 !important;
  }

  .selected-row {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(70, 239, 14);
    color: white !important;
  }

  .selected-row :hover {
    background-color: #ddd;
  }
